<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.cyberswift.healingtree">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
            android:name=".AppController"
            android:allowBackup="false"
            android:icon="@mipmap/applogo"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="n">
        <activity android:name=".activity.MemberShipFacilityBookingActivity">
        </activity>
        <activity android:name=".activity.HelloHealthPackageBookingActivity">
        </activity>
        <activity android:name=".activity.UserProfileActivity">
        </activity>
        <activity android:name=".activity.RegistrationActivity">
        </activity>
        <activity
                android:name=".activity.LoginActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.BaseActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.HomeActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.SpecialitiesActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".activity.DoctorTimeSlot"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.ConfirmationDoneActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.BookingActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activity.DoctorListActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".activity.SplashScreen"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity android:name=".activity.HealingHomeCareActivity"/>
        <activity android:name=".activity.HomeCareAttendantServicesActivity"/>
        <activity android:name=".activity.DiagnosticsAtHomeActivity"/>
        <activity android:name=".activity.MedicalEquipmentForHomeCareActivity"/>
        <activity android:name=".activity.NursingCareServicesActivity"/>
        <activity android:name=".activity.PhysiotherapistServicesActivity"/>
        <activity android:name=".activity.MembershipFacilityActivity"/>
        <activity android:name=".document_download_manager.PdfViewerActivity"/>
        <activity android:name=".activity.OrderMedicineActivity"/>
        <activity android:name=".activity.HealthRecordActivity"/>
        <activity android:name=".activity.HelloHealthActivity"/>
        <activity android:name=".activity.HealthLibraryActivity"/>
        <activity android:name=".activity.AwarenessArticleActivity"/>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="android.support.v4.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>